---
  import BannerSlider from "../components/commons/BannerSlider.astro";
  import Main from "../layout/Main.astro";
---

<Main>
  <BannerSlider />

  <p class="block pb-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis aspernatur modi non? Incidunt ea aperiam esse error quidem excepturi nostrum maiores deserunt impedit odio ipsam, ab eius sequi, dolor accusantium, ullam voluptatibus? Repellendus tenetur, impedit dicta at mollitia alias. Modi, at. Provident, molestiae molestias? Assumenda deserunt nihil enim numquam rem ducimus consequuntur illum libero esse tenetur alias repellendus eum quas, reprehenderit pariatur necessitatibus iure dicta maiores sapiente hic? Culpa qui ratione asperiores earum in, natus consequuntur, sequi nemo nulla veniam commodi voluptates voluptatum quaerat aperiam labore magnam ex soluta. Iusto illo eveniet consectetur similique voluptate, aliquid voluptates, minima quae maiores, minus nemo error id accusamus ratione reprehenderit. Excepturi ullam provident autem, ex iure magnam, ad amet odit explicabo id doloribus exercitationem tempora ipsam non illo asperiores repudiandae voluptas maxime. Unde veritatis ut nostrum quos eveniet. Consectetur, commodi corporis molestiae quisquam odio delectus quis. Iste esse necessitatibus, dolorem in repellat explicabo eligendi distinctio obcaecati ipsum, ea dignissimos incidunt exercitationem maxime consequuntur quod quidem eos iure qui similique illo. Iure commodi soluta perferendis explicabo accusamus magni tempore totam nulla et, consequuntur a, placeat assumenda, velit hic provident! Ducimus quae voluptas repellendus recusandae enim, harum maiores soluta impedit dolores sit assumenda tempora doloribus.
  </p>

  <p class="block pb-10">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit natus illo quibusdam accusamus iure dolor omnis deserunt explicabo dolore. Est, nesciunt. Consequatur possimus ea vitae modi, dicta ex, corporis fugiat repellat, incidunt excepturi ipsum enim! Ipsum, corrupti odio vel nobis minima molestias quae placeat omnis voluptates animi sint. Saepe similique, itaque eligendi sed at hic tempore dolorem accusantium sunt quae minima et debitis molestiae laudantium cupiditate, ut culpa consequatur doloribus facere dolore ab error tenetur! Ipsum quos tenetur vero quam numquam animi dolorem atque, sequi tempora iste officia, laudantium temporibus quas molestias. Alias ut distinctio ex tempore expedita, quibusdam consequuntur.
  </p>
</Main>