<footer class="m-auto flex justify-center">
  <p class="font-medium">
    By
    <a href="https://gralweb.web.app" target="_blank" class="group transition-all relative inline-flex tracking-wider no-underline text-red-500">
      Gralweb
      <span class={`group-hover:w-full w-0 transition-all h-[2px] absolute bottom-0 flex bg-red-500`}></span>
    </a>
  </p>
</footer>