---
  import NavLink from '../components/commons/NavLink.astro'

  const { title } = Astro.props
---

<header class="font-mono py-5 flex gap-2 flex-col flex-wrap justify-between items-center">
  <nav class="w-full">
    <ul class="flex gap-3 m-auto p-0 pt-3">
      <NavLink href="/" content="Home" /> 
      <NavLink href="/posts" content="Posts" />
    </ul>
  </nav>

  {
    title && (
    <section class="font-sans grid items-center pt-5 pb-10 justify-center capitalize">
      <h1 class="text-5xl text-slate-800 pt-4 pb-2 font-bold bg-gradient-to-bl bg-no-repeat bg-[length:85%_40%] bg-bottom from-red-500 to-red-500">
        {title}
      </h1>
    </section>
    )
  }
</header>